* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html, body {
  height: 100%;
}

body {
  background-color: hsl(0, 0%, 98%);
}

body, button, input {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
}

#react {
  height: 100%;
}

/* 
Colors

hsl(0, 0%, 88%)     - grey-dark
hsl(0, 0%, 95%)     - grey-light
hsl(0, 0%, 40%)     - grey-text
hsl(192, 57%, 70%)  - main-1
hsl(192, 57%, 60%)  - main-1-hover
hsl(192, 57%, 20%)  - main-1-text
hsl(192, 57%, 80%)  - main-1-text-light
hsl(192, 44%, 64%)  - user-card
hsl(192, 24%, 48%)  - user-card-hover
hsl(168, 70%, 67%)  - new-message
*/
