.MessagesWindow {
    overflow-y: auto;
    height: 560px;
    width: 800px;
    padding: 20px;
    background-color: hsl(0, 0%, 88%);
}

.MessagesWindow .flex-container {
    display: flex;
    flex-direction: column-reverse;
}

.MessagesWindow > :first-child {
    padding-bottom: 20px;
}