.MessageBar {
    height: 70px;
    background-color: hsl(0, 0%, 95%);
}

.MessageBar input {
    display: inline-block;
    border: none;
    padding: 20px;
    height: 100%;
    width: 80%;
    background-color: inherit;
}

.MessageBar input:focus {
    border: 2px solid hsl(0, 0%, 80%);
    border-radius: 5px;
}

.MessageBar button {
    display: block;
    padding: 10px 25px;
    margin: auto;
    border: none;
    border-radius: 5px;
    background-color: hsl(192, 57%, 70%);
    color: hsl(192, 57%, 20%);
}

.MessageBar button:hover {
    background-color: hsl(192, 57%, 60%);
}

.btn-holder {
    display: inline-flex;
    width: 20%;
}