.MessagesWindow {
    overflow-y: auto;
    height: 80%;
    width: 100%;
    padding: 0.5em;
    background-color: hsl(0, 0%, 88%);
}

.MessagesWindow .flex-container {
    min-height: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.MessagesWindow > :first-child {
    padding-bottom: 20px;
}

@media only scree and (min-width: 650px) {
}