.MessageHolder {
    padding: 0.5em;
    overflow: hidden;
    flex-shrink: 0;
}

.Message {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    float: left;
    max-width: 80%;
    padding: 0.5em;
    border-radius: 5px;
    background-color: hsl(0, 0%, 95%);
}

.Message.host {
    float: right;
    background-color: hsl(192, 57%, 70%);
}

.Time {
    text-align: right;
    font-size: 0.75em;
    height: 100%;
    margin-left: 0.75em;
}