#UserList {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 0px;
    overflow-y: auto;

    background-color: hsl(192, 57%, 70%);   
}

#UserList:focus {
    width: 40%;
    padding: 15px 10px;
}

@media only screen and (min-width: 650px) {
    #UserList {
        position: relative;
        float: left;

        width: 20%;
        height: 100%;
        padding: 15px 10px;
    }

    #UserList:focus {
        width: 20%;
    }
}